
.upper_card_container_left{
    position: fixed;
    top: 100px;
    margin-left: 252px;
    width: 250px;
    height: 220px;
    padding: 0;
    z-index: -1;
}
.card_upper_left{
    position: absolute;
    width: 230px;
    height: 200px;
    background: white;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.7;
    border-radius: 10px;
    transition: transform 1s;
}
.card_upper_left:hover{
    transform: scale(1.08,1.1);
}
