.upper_card_container_middle{
    width: 500px;
    height: 1550px;
    position: absolute;
    left: 512px;
    top: 90px;
    z-index: -1;
}
.card_middle01,.card_middle02,.card_middle03,.card_middle04,.card_middle05{
    width: 480px;
    height: 280px;
    background: white;
    margin-left:10px;
    margin-top: 20px;
    opacity: 0.75;
    border-radius: 10px;
    transition: transform 0.8s;
}
.card_middle01:hover{
    transform: scale(1.011,1.061);
}
.card_middle02:hover{
    transform: scale(1.011,1.061);
}
.card_middle03:hover{
    transform: scale(1.011,1.061);
}
.card_middle04:hover{
    transform: scale(1.011,1.061);
}
.card_middle05:hover{
    transform: scale(1.011,1.061);
}
